@font-face {
  font-family: typespace;
  src: url(../MonospaceTypewriter.ttf);
}
*{
  text-align: center;
  font-family: typespace;
}
.cpu{
  display: grid;
  grid-template-columns: 150px 150px 250px;
  justify-content: space-between;
}
.disabled{
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.75;
  border-color: red;
  border-radius: 5px;
}
#booster{
  display: block;
}