@font-face {
  font-family: typespace;
  src: url(../MonospaceTypewriter.ttf);
}
*{
  text-align: center;
  font-family: typespace;
}
.cpu{
  display: grid;
  grid-template-columns: 150px 150px 250px;
  justify-content: space-between;
}
.disabled{
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.75;
  border-color: red;
  border-radius: 5px;
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  background-color: #ccc;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}