@font-face {
    font-family: typespace;
    src: url(../MonospaceTypewriter.ttf);
}
body {
    font-family: typespace;
    background-color: black;
    color: white
}
span.game-header_analysis{
    font-size: 25pt;
    color: green;
}
div.game-header{
    text-align: center;
}
button {
    font-family: typespace;
}
.disabled {
    opacity: 0.7;
}